*.beam
*.ez
/build
erl_crash.dump
node_modules/
zeinc-build/
zeinc.escript
zein-vscode/node_modules/
zein-vscode/out/
zein-vscode/*.vsix
zein-vscode/server/node_modules/
website/
/zein
zeinc-bundle.mjs
